.btn{    
&:link,&:visited{
    text-decoration: none;
    border-radius: 10rem;
    text-transform: uppercase;
    padding: 1rem 3rem;
    display: inline-block;
    transition: all .2s;
    position: relative;
    font-size: $default-font-size;
}

&:hover{
    transform: translateY(-.3rem);
    box-shadow:0 1rem 2rem rgba($color-black,.2) ;
    &::after{
        transform: scaleX(1.4) scaleY(1.6)  ;
            opacity: 0; 
        }
}
&:active{
transform: translateY(-1);
box-shadow: 0 .5rem 1rem rgba($color-black, .2);
}

&::after{
content: "";
display: inline-block;
border-radius: 10rem;
height: 100%;
width: 100%;
z-index: -1;
position: absolute;
top: 0rem;
left: 0rem;
transition: all .4s;
}
&--white{
    background-color: $color-white;
    color: $color-dark-gray;
    /* letter-spacing: 1rem; */
    &::after{
        background-color: $color-white;
        color:$color-dark-gray;
    }
}

&--animation{
    animation: moveInBottom .2s ease-out  .75s;
    animation-fill-mode: backwards;
}
}
.btn-text{
    &:link,
    &:visited{
        font-size:$default-font-size;
        color:$color-primary;
        text-decoration:none;
        display:inline-block;
        border-bottom:1px solid $color-primary;
        padding:3px;
        transition:all .2s;
    }
    &:hover{
        color:$color-white;
        background-color:$color-primary;
        box-shadow:0 1rem 2rem rgba($color-black,.15);
        transform:translateY(-.2rem);

    }
    &:active{
box-shadow:0 .5rem 1rem rgba($color-black,.15);
        transform:translateY(0);
    }
}   
